$primaryColor1: #28a745;
$primaryColor2: #28a745;
$primaryColor3: #71e785;
$primaryColor4: #a8dadc;
$primaryColor5: #f1faee;

.btn-info {
  background: $primaryColor3 !important;
}
.bg-info {
  background: $primaryColor3 !important;
}
.text-info {
  color: $primaryColor3 !important;
}
.text-title {
  color: $primaryColor1 !important;
}
.title {
  font-weight: 300;
}
// .text-success {
//   color: $primaryColor2 !important;
// }
// .btn-success {
//   background: $primaryColor2 !important;
//   border: none !important;
// }
