@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "base/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* clear defaults */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  // background: rgb(255, 255, 255);
  // background: url("../img/hero2.jpg"),
  //   radial-gradient(
  //     circle,
  //     rgba(255, 255, 255, 1) 0%,
  //     rgba(2, 0, 18, 0.47942927170868344) 100%
  //   );
  background: url("../img/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.hero-left {
  opacity: 0.7;
  background: rgb(35, 65, 83);
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
}
.section2 {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
}
.section2-li {
  border: none;
  margin-bottom: 2rem;
  text-align: center;
}
.section3 {
  min-height: 50vh;
  width: 100%;
  padding: 100px 0;
  background: url("../img/deal2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.auth-body {
  background: rgb(3, 131, 30);
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.loan-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loan-list {
  list-style: disc;
}
.register-form {
  margin-top: 10vh !important;
}

/*Footer*/

/*footer*/
footer {
  padding: 0 1rem;
  background: rgba(114, 41, 13, 0.52);
  background: $primaryColor5;
  min-height: 100px;
  display: flex;
  align-items: center;
  z-index: -1;
  .logo {
    z-index: 100 !important;
  }
}
.footer-icons {
  .icon {
    z-index: 100;
    color: black;
    font-size: 1.7rem;
    margin-right: 0.5rem;
    transition: 0.3s ease;
  }
  .icon:hover {
    color: $primaryColor1 !important;
    font-size: 1.8rem;
  }
}
/*back to top button*/

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(28, 32, 28);
  width: 30px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button .arrow {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#button .arrow:hover {
  color: #fff;
  text-decoration: none !important;
}

#button:hover {
  cursor: pointer;
  background-color: $primaryColor1;
  border: 1px solid #fff;
  text-decoration: none !important;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/*About*/
.about-icon {
  font-size: 1.5rem;
}
.text-contact {
  border-bottom: 2px solid $primaryColor2;
}

.loan-type-box {
  min-height: 200px;
}
.loan-type-box:hover {
  text-decoration: none !important;
}
/*authentication form*/
.login {
  margin-top: 200px !important;
}
.register {
  margin-top: 100px !important;
}

@import "components/navbar";

/*Media Queries*/

/*Media Queries*/
@media (max-width: 900px) {
  .main-nav {
    justify-content: space-between;
  }
  .main-nav ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media (max-width: 786px) {
  .contact-texts {
    text-align: center;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
}
@media (max-width: 400px) {
}
