@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.btn-info {
  background: #71e785 !important;
}

.bg-info {
  background: #71e785 !important;
}

.text-info {
  color: #71e785 !important;
}

.text-title {
  color: #28a745 !important;
}

.title {
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* clear defaults */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("../img/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.hero {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-left {
  opacity: 0.7;
  background: #234153;
  border-radius: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
}

.section2-li {
  border: none;
  margin-bottom: 2rem;
  /* text-align: center; */
}

.section3 {
  min-height: 50vh;
  width: 100%;
  padding: 100px 0;
  background: url("../img/deal2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.auth-body {
  background: #03831e;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.loan-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loan-list {
  list-style: disc;
}

.register-form {
  margin-top: 10vh !important;
}

/*Footer*/
/*footer*/
footer {
  padding: 0 1rem;
  background: rgba(114, 41, 13, 0.52);
  background: #f1faee;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
}

footer .logo {
  z-index: 100 !important;
}

.footer-icons .icon {
  z-index: 100;
  color: black;
  font-size: 1.7rem;
  margin-right: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-icons .icon:hover {
  color: #28a745 !important;
  font-size: 1.8rem;
}

/*back to top button*/
#button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #1c201c;
  width: 30px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button .arrow {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  color: darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

#button .arrow:hover {
  color: #fff;
  text-decoration: none !important;
}

#button:hover {
  cursor: pointer;
  background-color: #28a745;
  border: 1px solid #fff;
  text-decoration: none !important;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/*About*/
.about-icon {
  font-size: 1.5rem;
}

.text-contact {
  border-bottom: 2px solid #28a745;
}

.loan-type-box {
  min-height: 200px;
}

.loan-type-box:hover {
  text-decoration: none !important;
}

/*authentication form*/
.login {
  margin-top: 200px !important;
}

.register {
  margin-top: 100px !important;
}

.main-nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.7rem 0.5rem;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  background: transparent;
}

.main-nav ul {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
}

.main-nav ul li {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-nav ul li a {
  color: #fff;
}

.main-nav ul li a:hover {
  text-decoration: none;
}

.main-nav ul li.active {
  border-bottom: 2px solid #28a745;
}

.main-nav ul li:hover {
  border-bottom: 2px solid #71e785;
}

.main-nav ul li.active-home {
  border-bottom: 2px solid #fff !important;
}

.logo {
  padding: 0.8rem 0;
  margin-right: auto;
  width: 60px;
  text-decoration: none;
}

.logo img {
  width: 100%;
  height: 100%;
}

.hamburger {
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.side-nav {
  position: fixed;
  background: #28a745;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  padding: 0.5rem;
  padding-top: 80px;
  z-index: 1000;
  -webkit-animation: slideLeft 300ms ease-out;
  animation: slideLeft 300ms ease-out;
  display: none;
}

.side-nav li {
  width: 100%;
  height: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
}

.side-nav li a {
  width: 100% !important;
  color: #fff;
}

.side-nav li a:hover {
  text-decoration: none;
}

.side-nav li:hover {
  background: #71e785;
  padding-left: 1rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.side-nav li.active {
  background: #71e785;
}

.side-nav-logo {
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
}

.side-nav-logo img {
  width: 100%;
  height: 100%;
}

.side-nav.active {
  display: block;
}

.sticky2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh !important;
  z-index: 500;
  background: #71e785;
  padding: 45px 8px !important;
  -webkit-box-shadow: -1px 4px 11px -2px #a8dadc;
  box-shadow: -1px 2px 2px -2px #f4f4f4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh !important;
  z-index: 500;
  background: #fff;
  padding: 45px 8px !important;
  -webkit-box-shadow: -1px 4px 11px -2px #a8dadc;
  box-shadow: -1px 2px 2px -2px #f4f4f4;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*Media Queries*/
/*Media Queries*/
@media (max-width: 900px) {
  .main-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 786px) {
  .contact-texts {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */
